@page "/settings"
<h3>Ustawienia</h3>
<br/>
<Modal @ref="modal" Title="Potwierdź">
    <BodyTemplate>
        Napewo wyczyścić listę zamówionych utworów ? 
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="HideClearListModal">Zamknij</Button>
        <Button Color="ButtonColor.Primary" @onclick="ClearSongList">Usuń wszystko</Button>
    </FooterTemplate>
</Modal>

<Button
    Color="ButtonColor.Danger"
    @onclick="(() => ShowClearListModal())"
    Outline="true">
        <Icon Name="IconName.XCircleFill"></Icon> Wyczyść listę
</Button>