@page "/template"
@using SmartDj.Shared.Models
<h3>Szablony</h3>

<Grid @ref="grid"
      TItem="FormTemplate"
      Class="table table-hover table-bordered table-striped"
      DataProvider="FormTemplateDataProvider">

    <GridColumn TItem="FormTemplate" HeaderText="Id">
        @context.Id
    </GridColumn>
    <GridColumn TItem="FormTemplate" HeaderText="Data">
        @context.DateCreated
    </GridColumn>
    <GridColumn TItem="FormTemplate" HeaderText="Nazwa">
        Nazwa 
    </GridColumn>
    <GridColumn TItem="FormTemplate" HeaderText="Aktywny">
        @if (context.IsActive)
        {
        <Button
            Color="ButtonColor.Primary"
            Outline="true">
            <Icon Name="IconName.HandThumbsUp"/>
        </Button>
        }
        else
        {
            <Button
                Color="ButtonColor.Dark"
                @onclick="(() => SetAsActive(context.Id))"
                Outline="true">
                <Icon Name="IconName.HandThumbsDown"/>
            </Button>
        }
    </GridColumn>
    <GridColumn TItem="FormTemplate" HeaderText="Edytuj">
        <Button Color="ButtonColor.Primary" @onclick="SaveTemplateChanges">Edytuj</Button>
    </GridColumn>
</Grid>
<Button Color="ButtonColor.Primary" @onclick="SaveTemplateChanges">Dodaj Szablon</Button>
